.wrapper {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin: 8rem 2rem 0 2rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 0.6rem;
}

.text h3 {
  font-size: 2.5rem;
}

.text p {
  font-size: 1.2rem;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emailInput {
  margin: 1rem;
}

.emailInput input {
  width: 70vw;
  height: 45px;
  border-radius: 5px;
  border: none;
  padding: 1.3rem 1rem;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.emailInput input:focus {
  outline: none;
}

.emailAddress {
  position: absolute;
  font-family: "Poppins", sans-serif;
  color: rgb(145, 143, 143);
  margin-left: 1rem;
  text-align: center;
}

.emailInput input:focus + .email {
  transform: translateX(-1.1rem) translateY(-3.2rem) scale(0.7);
  font-weight: 700;
}

.emailUp {
  transform: translateX(-1.1rem) translateY(-3.2rem) scale(0.7);
  transition: transform 0.2s ease-in;
  font-weight: 700;
}

.email {
  transform: translateY(-2.2rem) scale(1);
  transition: transform 0.2s ease-in;
}

.errorInput {
  border-bottom: 2px solid #ff9f0a !important;
}

.errorText {
  font-family: "Poppins", sans-serif;
  color: #ff9f0a;
}

.getStarted {
  position: relative;
}

.getStartedArrow {
  color: white;
  position: absolute;
  top: 0.7rem;
  left: 8.2rem;
}

.getStartedButton {
  color: white;
  background-color: #e50914;
  font-family: "Poppins", sans-serif;
  border: none;
  width: 10rem;
  height: 2.5rem;
  border-radius: 5px;
  font-size: 1rem;
  text-align: left;
  padding: 0 1rem;
}

@media (max-width: 400px) {
  .wrapper {
    width: auto;
  }
  .emailInput input {
    width: 100%;
  }
  .emailAddress {
    font-size: 0.8rem;
  }
  .emailInput input:focus + .email {
    transform: translateX(-1.1rem) translateY(-3rem) scale(0.7);
    font-weight: 700;
  }

  .emailUp {
    transform: translateX(-1.1rem) translateY(-3rem) scale(0.7);
    transition: transform 0.2s ease-in;
    font-weight: 700;
  }
}

@media (min-width: 40rem) {
  .container {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  .fieldContainer {
    flex-direction: row;
    width: 30rem;
  }
  .emailInput {
    margin-right: 0;
  }
  .emailInput input {
    width: 30vw;
    margin-left: 0;
  }
  .getStartedButton {
    height: 2.9rem;
  }
}
